<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FontTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FontTool.Properties.Settings>
            <setting name="storedProofingText" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="lastExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="widthMultiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="heightMultiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="widthOfAbstraction" serializeAs="String">
                <value>3.5604</value>
            </setting>
            <setting name="heightOfAbstraction" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="widthOfScreen" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="heightOfScreen" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="minificationFilter" serializeAs="String">
                <value>NEAREST</value>
            </setting>
            <setting name="magnificationFilter" serializeAs="String">
                <value>NEAREST</value>
            </setting>
            <setting name="wantMipMapToSmallerFonts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="anistropicFiltering" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="charactersPerFile" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="lastSelectedFontName" serializeAs="String">
                <value />
            </setting>
            <setting name="pagerCount" serializeAs="String">
                <value>120</value>
            </setting>
        </FontTool.Properties.Settings>
    </userSettings>
</configuration>